<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <xdt:Import assembly="Transforms" namespace="Transforms"/>
  <system.web>
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="EndpointTransform(,dev.server,80)">
    </client>
  </system.serviceModel>
</configuration>
